In [1]:
# Import libraries
import pandas as pd
from ast import literal_eval
import warnings

warnings.simplefilter(action="ignore", category=FutureWarning)

In [2]:
# Read CSV file
df = pd.read_csv('/Users/mikesolieman/Documents/Projects/8_Unicorn_Companies/Unicorn_Companies.csv')

In [3]:
df.head()

,Company,Valuation,Date Joined,Industry,City,Country,Continent,Year Founded,Funding,Select Investors
0,Bytedance,$180B,2017-04-07,Artificial intelligence,Beijing,China,Asia,2012,$8B,"Sequoia Capital China, SIG Asia Investments, S..."
1,SpaceX,$100B,2012-12-01,Other,Hawthorne,United States,North America,2002,$7B,"Founders Fund, Draper Fisher Jurvetson, Rothen..."
2,SHEIN,$100B,2018-07-03,E-commerce & direct-to-consumer,Shenzhen,China,Asia,2008,$2B,"Tiger Global Management, Sequoia Capital China..."
3,Stripe,$95B,2014-01-23,Fintech,San Francisco,United States,North America,2010,$2B,"Khosla Ventures, LowercaseCapital, capitalG"
4,Klarna,$46B,2011-12-12,Fintech,Stockholm,Sweden,Europe,2005,$4B,"Institutional Venture Partners, Sequoia Capita..."

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1074 entries, 0 to 1073
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Company           1074 non-null   object
 1   Valuation         1074 non-null   object
 2   Date Joined       1074 non-null   object
 3   Industry          1074 non-null   object
 4   City              1058 non-null   object
 5   Country           1074 non-null   object
 6   Continent         1074 non-null   object
 7   Year Founded      1074 non-null   int64
 8   Funding           1074 non-null   object
 9   Select Investors  1073 non-null   object
dtypes: int64(1), object(9)
memory usage: 84.0+ KB

In [5]:
df.shape

(1074, 10)

In [6]:
# Drop rows with NaN values
df.dropna(inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1057 entries, 0 to 1073
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Company           1057 non-null   object
 1   Valuation         1057 non-null   object
 2   Date Joined       1057 non-null   object
 3   Industry          1057 non-null   object
 4   City              1057 non-null   object
 5   Country           1057 non-null   object
 6   Continent         1057 non-null   object
 7   Year Founded      1057 non-null   int64
 8   Funding           1057 non-null   object
 9   Select Investors  1057 non-null   object
dtypes: int64(1), object(9)
memory usage: 90.8+ KB

In [7]:
# Remove "$" and "B" and cast "Valuation" as float
df['Valuation'] = (df['Valuation']
    .str.replace('$', '')
    .str.replace('B', '000000000')
    .astype(float)
)

In [8]:
df.head()

,Company,Valuation,Date Joined,Industry,City,Country,Continent,Year Founded,Funding,Select Investors
0,Bytedance,1.800000e+11,2017-04-07,Artificial intelligence,Beijing,China,Asia,2012,$8B,"Sequoia Capital China, SIG Asia Investments, S..."
1,SpaceX,1.000000e+11,2012-12-01,Other,Hawthorne,United States,North America,2002,$7B,"Founders Fund, Draper Fisher Jurvetson, Rothen..."
2,SHEIN,1.000000e+11,2018-07-03,E-commerce & direct-to-consumer,Shenzhen,China,Asia,2008,$2B,"Tiger Global Management, Sequoia Capital China..."
3,Stripe,9.500000e+10,2014-01-23,Fintech,San Francisco,United States,North America,2010,$2B,"Khosla Ventures, LowercaseCapital, capitalG"
4,Klarna,4.600000e+10,2011-12-12,Fintech,Stockholm,Sweden,Europe,2005,$4B,"Institutional Venture Partners, Sequoia Capita..."

In [9]:
# Check for non-numerical values
df['Funding'].value_counts()

$1B        59
$2B        29
$200M      12
Unknown    12
$4B         9
           ..
$536M       1
$19M        1
$946M       1
$180M       1
$620M       1
Name: Funding, Length: 533, dtype: int64

In [10]:
# Exclude rows with unknown "Funding" values
df = df[df['Funding'] != 'Unknown']
df.shape

(1045, 10)

In [11]:
# Remove "$" and "B" and cast "Funding" as float
df['Funding'] = (df['Funding']
    .str.replace('$', '')
    .str.replace('B', '000000000')
    .str.replace('M', '000000')
    .astype(float)
)
df.head()

,Company,Valuation,Date Joined,Industry,City,Country,Continent,Year Founded,Funding,Select Investors
0,Bytedance,1.800000e+11,2017-04-07,Artificial intelligence,Beijing,China,Asia,2012,8.000000e+09,"Sequoia Capital China, SIG Asia Investments, S..."
1,SpaceX,1.000000e+11,2012-12-01,Other,Hawthorne,United States,North America,2002,7.000000e+09,"Founders Fund, Draper Fisher Jurvetson, Rothen..."
2,SHEIN,1.000000e+11,2018-07-03,E-commerce & direct-to-consumer,Shenzhen,China,Asia,2008,2.000000e+09,"Tiger Global Management, Sequoia Capital China..."
3,Stripe,9.500000e+10,2014-01-23,Fintech,San Francisco,United States,North America,2010,2.000000e+09,"Khosla Ventures, LowercaseCapital, capitalG"
4,Klarna,4.600000e+10,2011-12-12,Fintech,Stockholm,Sweden,Europe,2005,4.000000e+09,"Institutional Venture Partners, Sequoia Capita..."

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1045 entries, 0 to 1073
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Company           1045 non-null   object
 1   Valuation         1045 non-null   float64
 2   Date Joined       1045 non-null   object
 3   Industry          1045 non-null   object
 4   City              1045 non-null   object
 5   Country           1045 non-null   object
 6   Continent         1045 non-null   object
 7   Year Founded      1045 non-null   int64
 8   Funding           1045 non-null   float64
 9   Select Investors  1045 non-null   object
dtypes: float64(2), int64(1), object(7)
memory usage: 89.8+ KB

In [13]:
# Export cleaned data as csv to folder
df.to_csv('unicorn_companies_clean_grouped.csv', index=False)

In [14]:
# Split investors and convert to list
df['Select Investors'] = df['Select Investors'].str.split(', ')
df.head()

,Company,Valuation,Date Joined,Industry,City,Country,Continent,Year Founded,Funding,Select Investors
0,Bytedance,1.800000e+11,2017-04-07,Artificial intelligence,Beijing,China,Asia,2012,8.000000e+09,"[Sequoia Capital China, SIG Asia Investments, ..."
1,SpaceX,1.000000e+11,2012-12-01,Other,Hawthorne,United States,North America,2002,7.000000e+09,"[Founders Fund, Draper Fisher Jurvetson, Rothe..."
2,SHEIN,1.000000e+11,2018-07-03,E-commerce & direct-to-consumer,Shenzhen,China,Asia,2008,2.000000e+09,"[Tiger Global Management, Sequoia Capital Chin..."
3,Stripe,9.500000e+10,2014-01-23,Fintech,San Francisco,United States,North America,2010,2.000000e+09,"[Khosla Ventures, LowercaseCapital, capitalG]"
4,Klarna,4.600000e+10,2011-12-12,Fintech,Stockholm,Sweden,Europe,2005,4.000000e+09,"[Institutional Venture Partners, Sequoia Capit..."

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1045 entries, 0 to 1073
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Company           1045 non-null   object
 1   Valuation         1045 non-null   float64
 2   Date Joined       1045 non-null   object
 3   Industry          1045 non-null   object
 4   City              1045 non-null   object
 5   Country           1045 non-null   object
 6   Continent         1045 non-null   object
 7   Year Founded      1045 non-null   int64
 8   Funding           1045 non-null   float64
 9   Select Investors  1045 non-null   object
dtypes: float64(2), int64(1), object(7)
memory usage: 89.8+ KB

In [16]:
# Explode "Select Investors" to individual list
df = df.explode("Select Investors")
df.head()

,Company,Valuation,Date Joined,Industry,City,Country,Continent,Year Founded,Funding,Select Investors
0,Bytedance,1.800000e+11,2017-04-07,Artificial intelligence,Beijing,China,Asia,2012,8.000000e+09,Sequoia Capital China
0,Bytedance,1.800000e+11,2017-04-07,Artificial intelligence,Beijing,China,Asia,2012,8.000000e+09,SIG Asia Investments
0,Bytedance,1.800000e+11,2017-04-07,Artificial intelligence,Beijing,China,Asia,2012,8.000000e+09,Sina Weibo
0,Bytedance,1.800000e+11,2017-04-07,Artificial intelligence,Beijing,China,Asia,2012,8.000000e+09,Softbank Group
1,SpaceX,1.000000e+11,2012-12-01,Other,Hawthorne,United States,North America,2002,7.000000e+09,Founders Fund

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2974 entries, 0 to 1073
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Company           2974 non-null   object
 1   Valuation         2974 non-null   float64
 2   Date Joined       2974 non-null   object
 3   Industry          2974 non-null   object
 4   City              2974 non-null   object
 5   Country           2974 non-null   object
 6   Continent         2974 non-null   object
 7   Year Founded      2974 non-null   int64
 8   Funding           2974 non-null   float64
 9   Select Investors  2974 non-null   object
dtypes: float64(2), int64(1), object(7)
memory usage: 255.6+ KB

In [18]:
# Export cleaned data as csv to folder
df.to_csv('unicorn_companies_clean.csv', index=False)